/* .move-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
  position: relative;
  width: 100%;
  max-width: 100%;
}

.logo-animation {
  width: 150px;
  height: 150px;
  position: absolute;
  animation: LeftRightLeft 8s linear infinite;
}

@keyframes LeftRightLeft {
  0% {
    transform: translateX(-150px); 
  }
  50% {
    transform: translateX(calc(100vw - 150px)); 
  }
  100% {
    transform: translateX(-150px); 
  }
} */
