.move-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Prevents horizontal scrollbar */
  position: relative;
  width: 100%;
  max-width: 100%;
}

.logo-animation {
  width: 150px;
  height: 150px;
  position: absolute;
  animation: LeftRightLeft 8s linear infinite; /* Smooth animation */
}

@keyframes LeftRightLeft {
  0% {
    transform: translateX(-150px); /* Start off screen to the left */
  }
  50% {
    transform: translateX(calc(100vw - 150px)); /* Move to the right edge of the screen */
  }
  100% {
    transform: translateX(-150px); /* Move back off screen to the left */
  }
}
