.move-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Prevents horizontal scrollbar */
  position: relative;
  max-width: 100%;
}

.logo-animation {
  width: 150px;
  height: 150px;
  position: absolute;
  animation-name: LeftRightLeft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; /* Changed to linear for consistent speed */
}

@keyframes LeftRightLeft {
  0% {
    left: -150px; /* Start off screen to the left */
  }
  100% {
    left: 100vw; /* Move off screen to the right */
  }
}
