{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    
<div class="container">
  <div class="row">
    <div class="col-9"><h2>{{ post.title }}</h2>
      <small>
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </small></div>

    <div class="col-4">.<div><img src="{{ post.featured_image_url }}" alt="{{ post.title }}"></div>
    <p></p></div>
    <div class="col-6">{{ post.body | linebreaks }}</div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col card mb-4  mt-3 left  top">
          <div class="card-body">
              <!-- The post content goes inside the card-text. -->
              <!-- Use the | safe filter inside the template tags -->
              <p class="card-text">
                  {{ post.content | safe }}
              </p>
          </div>
      </div>
  </div>
  <!-- Displaying count of comments -->
  <div class="row">
      <div class="col-12">
          <strong class="text-secondary">
              <i class="far fa-comments"></i> {{ comment_count }}
          </strong>
      </div>
      <div class="col-12">
          <hr>
      </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
      <div class="col-md-8 card mb-4  mt-3 ">
          <h3>Comments:</h3>
          <div class="card-body">
              <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
              {% for comment in comments %}
              <div
                  class="p-2 comments{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                  <p class="font-weight-bold">
                      {{ comment.author }}
                      <span class="font-weight-normal">
                          {{ comment.created_on }}
                      </span> wrote:
                  </p>
                  <div id="comment{{ comment.id }}">
                      {{ comment.body | linebreaks }}
                  </div>
                  
                  <p class="approval">This comment is awaiting approval</p>
                  
                  {% if user.is_authenticated and comment.author == user %}
                  <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                  <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                  {% endif %}
              </div>
              <!-- Our for loop ends here -->
              {% endfor %}
          </div>
      </div>
      <!-- Creating New Comments -->
      <div class="col-md-4 card mb-4  mt-3 ">
          <div class="card-body">
              {% if user.is_authenticated %}
              <h3>Leave a comment:</h3>
              <p>Posting as: {{ user.username }}</p>
              <form id="commentForm" method="post" style="margin-top: 1.3em;">
                  {{ comment_form | crispy }}
                  {% csrf_token %}
                  <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
              </form>
              {% else %}
              <p>Join us to share your thoughts & experiences</p>
              {% endif %}
          </div>
      </div>
  </div>
  {% for comment in comments %}
    <div class="comment">
        {{ comment.body }}
        
            <!-- Edit Button -->
            <a href="{% url 'comment_edit' post.slug comment.id %}" class="btn btn-primary">Edit</a>
            <!-- Delete Button Trigger Modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-comment-id="{{ comment.id }}">Delete</button>
        
    </div>
{% endfor %}

</div>

    
{% endblock %}
{% block extras %}
<script src="{% static 'js/detail.js' %}"></script>
{% endblock %}