{% extends "base.html" %}
{% load static %}


{% block content %}


    
      <div class="container justify-center">
        <div class="row">
            <div class="col-12">
        <div class="m-2">
         <img src="{% static 'images/waterfall.jpg' %}" class="d-block w-100" alt="Hungry Hill at sunset">
       
                
         <div class="container d-flex align-items-center justify-content-center mt-2" style="min-height: 100vh;">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 content-border text-center">
                    <h3 class="font-weight-bold">Introducing The Beara Directory: Your Ultimate Guide to Unlocking the Magic of Beara!</h3>
                    <p class="font-weight-bold">Are you ready to embark on an adventure like no other? Say hello to The Beara Directory – your digital compass to navigating the enchanting landscapes and vibrant communities of Beara, right from the palm of your hand!</p>
                    <p class="font-weight-bold">Picture this: You're wandering through the winding streets of Beara, craving a taste of its rich culture and hidden treasures. With The Beara Directory by your side, you're not just a visitor – you're a trailblazer, uncovering every nook and cranny that makes Beara so special.</p>
                    <p class="font-weight-bold">What's in store for you? Everything! From connecting with fascinating locals to discovering bustling businesses, buzzing events, and serene locations, there's no limit to what you'll find. Whether you're a first-time explorer or a seasoned local, consider The Beara Directory your one-stop emporium for all things Beara.</p>
                    <p class="font-weight-bold">But wait, there's more! Sign up today and unlock a world of possibilities. Dive deep into the stories, minds, and hidden gems scattered across the Beara Peninsula. With us, you'll uncover not only the breathtaking vistas but also those secret spots that whisper tales of ancient lore.</p>
                    <p class="font-weight-bold">So, what are you waiting for? Join The Beara Directory community today and let the adventure begin! Prepare to be amazed, inspired, and utterly captivated by the wonders that await you in the heart of Beara.</p>
                </div>
            </div>
        </div>
            </div>     
    </div>
</div>

</div>
{% endblock %}


