{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beara Directory</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/indexstyle.css' %}">
</head>
<body>
    
    <div class="carousel-container position-relative">
        <!-- Carousel -->
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/_DSC6540.jpg' %}" class="d-block w-100 h-100" data-bs-ride="carousel" data-bs-interval="5000" alt="...">
                    
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/_DSC6448.jpg' %}"  class="d-block w-100 h-100" data-bs-ride="carousel" data-bs-interval="5000" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/_DSC5633.jpg' %}"  class="d-block w-100 h-100" data-bs-ride="carousel" data-bs-interval="5000" alt="...">
                </div>
            </div>
            <!-- Add more carousel items here if needed -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Overlay content -->
        <div class="overlay">
            <div class="overlay-content">
                <h2>Welcome to <br>
                    <span class="brand overlay-logo">The<span class="orange-beara">Beara</span>Directory</span></h2>
                <p>Your Guide to Beara, Its People, Clubs, Business and Events</p>
                <!-- Add your login/sign up button here -->
                <button class="btn btn-success">Login / Sign Up</button>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}