{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.name }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/waterfall.jpg' %}" class="img-fluid" alt="Picture of Glengarriff">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3">
            <div class="card-body">
                <div class="card-text"> {{ post.content | safe }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }} Comments
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 comments{% if not comment.approved and comment.name == user.username %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">{{ comment.name }}
                        <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</div>
                    {% if not comment.approved and comment.name == user.username %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}
                    {% if user.is_authenticated and comment.name == user.username %}
                    <a href="{% url 'comment_edit' post.slug comment.id %}" class="btn btn-sm btn-info">Edit</a>
                    <a href="{% url 'comment_delete' post.slug comment.id %}" class="btn btn-sm btn-danger">Delete</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;" action="{% url 'post_detail' slug=post.slug %}">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
